* {
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;;
}

#wrapper {
	padding: 10px 5%;
}

.header {
	padding: 10px;
	border: 5px dashed #222;
	background-color: #d0d030;
	margin: auto;
	text-align: center;
}

.box {
	background-color: #666;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	border: 2px #222 dotted
}

.dice-box {
	display: flex;
	flex-direction: row;
}

.money, .funds {
	height: auto;
	padding: 1% 25%;
}

.funds {
	text-align: right;
}

.player-dice, .computer-dice {
	background-color: #f0f0f0;
	width: 50%;
	font-size: x-small;
	outline: solid 1px #222;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.player-dice {
	text-align: left;
}

.computer-dice {
	text-align: right;
}

.currentBet {
	height: auto;
	width: auto;
}

.betButton {
	height: auto;
	width: auto;
	margin-left: 50%;
}

.higher, .lower {
	text-align: center;
}

.player-dice > div, .computer-dice > div {
	margin: 0 10px;
	align-self: center;
	width: 64px;
	height: 64px;
	float: left;
	background: url(/img/dice.png);
}

div.dice-state-1 {
	background-position: -64px 0;
}

div.dice-state-2 {
	background-position: -128px 0;
}

div.dice-state-3 {
	background-position: -192px 0;
}

div.dice-state-4 {
	background-position: -256px 0;
}

div.dice-state-5 {
	background-position: -320px 0;
}

div.dice-state-6 {
	background-position: -384px 0;
}
