#title {
	height: auto;
	width: auto;
	left: 50%;
	top: 10px;
	background-color: #ee3;
	border: 5px dashed #222;
	margin: auto;
	text-align: center;
}

#roll {
	margin: 10px;
	text-align: center;
	border: 2px solid #222;
}

#buttons {
	text-align: center;
	border: 2px solid #0e0
}