#header {
	
	height: auto;
	width: auto;
	left: 50%;
	top: 10px;
	border: 5px dashed #222;
	background-color: #ee3;
	margin: auto;
	text-align: center;
}

.box {	
	height: 100px;
	width: auto;
	background-color: lightblue;
	margin: 10px;
	padding: 10px;
	text-align: left;
	border: 2px #222 dotted
}

#money {
	height: auto;
	text-align: center;
}

#playerDice, #computerDice {
	float: left;
	width: 50%;
	font-size: x-small;
	outline: solid 1px #222;
}

#playerDice {
	text-align: left;
}
#computerDice {
	text-align: right;
}

#currentBet {
	height: auto;
	width: auto;
}

#betButton {
	height: auto;
	width: auto;
	margin-left: 50%;
}

#roll {
	margin: 10px;
	text-align: center;
	border: 2px solid #222;
}

#buttons {
	text-align: center;
	border: 2px solid #0e0
}